body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #e0e0e0; */
}







/* Moving BG */

.game-container {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('./assets/background-img2.jpg');
    background-size: auto 100%;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: bgScroll 30s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #c22222;
}

@keyframes bgScroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0;
    }
}






.dino {
    width: 100px;
    height: 100px;
    background-color: #1038db;
    position: absolute;
    bottom: 0;
    left: 30%;
    border: 2px solid #32f506;
}

.jump {
    animation: jump 1.2s ease-in-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 300px; /* Adjust this value for jump height */

    }
    100% {
        bottom: 0;
    }
}





.obstacle {
    height: 150px;
    width: 50px;
    background-color: red;
    border: 3px solid black;
    position: absolute;
    bottom: 0;
    left: 80%;
    animation: move 5s linear infinite;
    /* higher the second value of animation property slower the movement of obstacle*/
}

@keyframes move {
    0% {
        left: 100%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: -100px;
    }
}